html, body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  font-weight: 100;
  background: radial-gradient(circle at top center, #fff, #ddd) no-repeat fixed #eee;
}

header {
  width: 100%;
  height: 60px;
  text-align: center;
  perspective: 500px;
  background: linear-gradient(to right, #000, #555, #000) #444;
  position: fixed;
  top: 0;
  left: 0;

  & > .wrapper {
    width: 600px;
    margin: 0 auto;
    position: relative;
  }

  & a {
    text-decoration: none;
    color: #999;
    line-height: 40px;
    position: absolute;
    top: 10px;

    &:hover {
      color: #fff;
    }
  }
}

#link-kpcc {
  left: 0;
}

#link-kedama {
  right: 0;
}

#logo {
  display: inline-block;
  font-weight: 300;
  transition: transform .5s cubic-bezier(0, 0, 0.2, 1);
  transform: translateY(30px);
  transform-origin: top center;

  &.tilt {
    transform: rotateX(30deg) scale(.6) translateY(20px);

    & .l2 {
      box-shadow: 0 0 20px 1px rgba(0,0,0,.5);
    }
  }

  & .l1 {
    display: inline-block;
    font-size: 40px;
    background: #000;
    color: #fff;
    line-height: 1;
    padding: 8px;
    margin-bottom: -2px;
    box-shadow: 0 0 10px 1px rgba(255,255,255,.3);
  }

  & .l2 {
    display: block;
    border: 2px solid #000;
    font-size: 64px;
    line-height: 1;
    padding: 8px;
    background: #fff;
    position: relative;
    transition: box-shadow .5s linear;
  }
}

main {
  padding-top: 60px;
  text-align: center;
}

section {
  margin: 40px 0;
  font-size: 24px;

  &:first-child {
    margin-top: 200px;
  }

  & h1 {
    display: inline-block;
    font-size: 36px;
    padding: 8px;
    border: 2px solid #000;
    font-weight: 100;
    line-height: 1;
    margin: 200px 0 40px;
    background: #fff;

    &::before {
      content: '2017';
      display: block;
      float: left;
      color: #fff;
      background: #000;
      margin: -8px 0 -8px -8px;
      padding: 8px 6px 8px 8px;
    }

    &::after {
      content: '';
      display: block;
      float: left;
      border-width: 26px 4px;
      border-style: solid;
      border-color: #000 #fff #fff #000;
      box-sizing: border-box;
      margin: -8px 6px -8px 0;
    }
  }

  & p {
    margin: 40px 20px;
  }

  & em {
    display: block;
    font-style: normal;
    font-size: 28px;
    color: #444;
  }

  & strong {
    display: block;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(0,0,0,.3);

    & span {
      font-size: 20px;
      font-weight: 100;
      vertical-align: middle;
      line-height: 36px;
      margin: 0 .2em;
      text-shadow: none;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  & small {
    display: block;
    font-size: 16px;
    color: #999;
  }
}

footer {
  text-align: center;
}